* {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Nunito Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    font-size: 16px;
}

.container, nav ul {
    flex-direction: row;
}

body .container:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #683e73;
    padding: 1rem;
    color: white;
}

header {
    font-family: 'Raleway', Helvetica, sans-serif;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 20px;
    text-align: center;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-item {
    margin: 10px;
}

form {
    margin: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.group-members,
.problem-domain,
.app-description,
.app-feature {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 50%;
    height: auto;
}